<!DOCTYPE html>
<html>

<head>
  <style>
    @page {
      size: A4 landscape;
    }

    body {
      background-image: url('data:image/png;base64,<%= background %>');
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</head>

<body>
  <!-- Ваше содержимое страницы -->
</body>

</html>